body {
    background-color: gray;
}

.slider {
    aspect-ratio: 300px;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.slider img {
    width: 100%;
    height: auto;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}